<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mapper.TodoLogMapper">

    <insert id="insert" parameterType="com.example.todo.entity.TodoLog"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todo_log (user_id, todo_id, action, create_time)
        VALUES (#{userId}, #{todoId}, #{action}, #{createTime})
    </insert>
</mapper>
